[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "godot4-squirrel"]
	path = godot4-squirrel
	url = https://github.com/BenLubar/godot4-squirrel.git
